<html>
<head>
	<title>{% block title %}{{title}}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/pretty-default/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/pretty-default/css/font-awesome.min.css" />
	<link rel="alternate" type="application/rss+xml" href="/rss" />
	<link rel="me" href="https://alpha.app.net/{{username}}" />
</head>
<body>
	<div id="user-profile-sidebar">
		<p><img src="{{user.avatar_image.url}}" /></p>
		<h1>{{user.name}}</h1>
		<ul>
			<li><i class="fa fa-adn"></i>@{{username}}</li>
			{% block home_menu %}<i class="fa fa-clock-o"></i><a href="/">My recent posts</a>{% endblock %}
			<li><i class="fa fa-rss"></i><a rel="alternate" type="application/rss+xml" href="/rss">RSS Feed</a></li>
			{% if other_profiles.facebook %}<li><i class="fa fa-facebook"></i><a href="http://facebook.com/{{other_profiles.facebook}}" rel="me">{{other_profiles.facebook}}</a></li>{% endif %}
			{% if other_profiles.github %}<li><i class="fa fa-github"></i><a href="http://github.com/{{other_profiles.github}}" rel="me">{{other_profiles.github}} on GitHub</a></li>{% endif %}
			{% if other_profiles.googleplus %}<li><i class="fa fa-google-plus"></i><a href="https://google.com/+{{other_profiles.googleplus}}" rel="me">+{{other_profiles.googleplus}}</a></li>{% endif %}
			{% if other_profiles.linkedin %}<li><i class="fa fa-linkedin"></i><a href="http://www.linkedin.com/in/{{other_profiles.linkedin}}" rel="me">My LinkedIn Profile</a></li>{% endif %}
			{% if other_profiles.twitter %}<li><i class="fa fa-twitter"></i><a href="http://twitter.com/{{other_profiles.twitter}}" rel="me">@{{other_profiles.twitter}}</a></li>{% endif %}
		</ul>
		<p id="pas-attribution">powered by <a href="http://app.net/">app.net</a> &amp; <a href="https://github.com/LukasRos/phpADNSite">phpADNSite</a></p>
	</div>
	{% block content %}
	{% endblock %}
</body>
</html>