{% if post.firstOnDay %}<div class="date-box">{{post.created_at|date('Y/m/d')}}</div>{% endif %}
<div class="post-box">
<p class="time-box"><i class="fa fa-clock-o"></i>{{post.created_at|date('H:i')}}</p>
{% if post.repost %}
<p class="post-repost-header">reposted from <img src="{{post.user.avatar_image.url}}" /> <a href="{{post.user.url}}">{{post.user.name}} (@{{post.user.username}})</a>:</p>
<blockquote>{{post.html}}</blockquote>
{% else %}
<p>{{post.html}}</p>
{% endif %}
<p class="permalink-box"><a href="/post/{{post.id}}"><i class="fa fa-link"></i></a></p>
</div>