<html>
<head>
	<title>{% block title %}{{title}}{% endblock %}</title>
	<link rel="stylesheet" type="text/javascript" href="/default/css/style.css" />
</head>
<body>
	<div class="header-box">
		<h1>{{title}}</h1>
		<img src="{{user.avatar_image.url}}" />
		<p>{{user.description.text}}</p>
	</div>
	<div class="menu">{% block home_menu %}<a href="/">Home/Recent Posts</a>{% endblock %} - {% block conversations_menu %}<a href="/conversations">My Conversations</a>{% endblock %}</div>
	{% block content %}
	{% endblock %}
	<div class="footer">powered by <a href="http://app.net/">app.net</a> and <a href="https://github.com/LukasRos/phpADNSite">phpADNSite</a> - Username: <a href="https://alpha.app.net/{{username}}" rel="me">@{{username}}</a></div>
</body>
</html>